.grid-container {
  display: inline-grid !important;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 20px;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.bookTitle {
  color: #000000;
}

.bookAuthor {
  color: #a6a6a6;
}
